name: dbt_production_deploy

on:
  push:
    branches:
      - main

# Prevent multiple production runs from overlapping
concurrency:
  group: dbt-prod
  cancel-in-progress: false

jobs:
  deploy:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./dbt_snowflake_pipeline

    env:
      DBT_ENV: PROD
      SNOWFLAKE_ACCOUNT: ${{ secrets.SNOWFLAKE_ACCOUNT }}
      SNOWFLAKE_USER: ${{ secrets.SNOWFLAKE_USER }}
      SNOWFLAKE_PASSWORD: ${{ secrets.SNOWFLAKE_PASSWORD }}
      SNOWFLAKE_ROLE: ${{ secrets.SNOWFLAKE_ROLE }}
      SNOWFLAKE_WAREHOUSE: ${{ secrets.SNOWFLAKE_WAREHOUSE }}
      SNOWFLAKE_DATABASE: ${{ secrets.SNOWFLAKE_DATABASE }}
      SNOWFLAKE_SCHEMA: ANALYTICS

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.13"

      - name: Install Dependencies
        run: |
          pip install dbt-snowflake
          dbt deps

      - name: dbt Build (Production)
        # Added --target prod to trigger the correct macro logic
        run: dbt build --target prod

      - name: Upload New Manifest to S3
        if: success()
        run: |
          # Ensure this path matches your CI download path perfectly
          aws s3 cp target/manifest.json s3://${{ secrets.DBT_PROD_MANIFEST_AWS_S3_BUCKET_NAME }}/dbt_artifacts/manifest.json
        env:
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          AWS_REGION: ${{ secrets.AWS_REGION }}
