name: Python Ingestion CI

on:
  pull_request:
    branches: [main]
    paths:
      - "scripts/**" # Only run if files in the scripts folder change
  push:
    branches: [main]

jobs:
  quality-assurance:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.13"

      - name: Install Dependencies
        run: |
          python -m pip install --upgrade pip
          pip install ruff pytest requests-mock moto pandas pyarrow pydantic boto3

      - name: Check Formatting & Linting (Ruff)
        run: |
          # Check for errors and auto-format issues
          ruff check scripts/
          ruff format --check scripts/

      - name: Run Unit Tests (Pytest)
        run: |
          pytest tests/
